.eachItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 2.5rem 2rem 2rem;
    min-width: 460px;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
    word-break: break-word;
    color: white;
    background: rgb(245, 112, 4);

}

.date{
    margin-top: 12px;
}
.textWrapper {
    text-align: left;
    flex-basis: 80%;
}

.textWrapper h3 {
    font-size: 2.3rem;
    margin-bottom: 5px;
}

.textWrapper p {
    font-size: 1.5rem;
    font-weight: 500;
}

.eachItem:hover {
    background: rgb(249, 249, 252);
    color: rgb(183, 64, 26);
}

.eachItem:hover .fa-trash-alt {
    color: rgb(214, 47, 61);
}

.eachItem:hover .fa-edit {
    color: rgb(100, 214, 47);
}

.fa-trash-alt,
.fa-edit{
    cursor: pointer;
    pointer-events: auto;
    color: rgb(251, 251, 251);
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
}
.fa-trash-alt,
.fa-edit{
    font-size: 3rem;
}
.fa-edit{
    color: white;
    margin-left: 1.5rem;
}

.todo-btn {
    width: 5rem;
    display: flex;
    flex-basis: 20%;
    justify-content: flex-end;
    align-items: center;
}

input[type="checkbox"]{
    flex-basis: 20%;
    transform: scale(2);
}

label{
    display: flex;
    align-items: center;
    flex-basis: 100%;
}

@media only screen and (max-width: 550px) {
    .eachItem {
        padding: 1rem 1.5rem 1rem 1.2rem;
        min-width: 360px;
    }
    .date{
        margin-top: 8px;
    }

    .fa-trash-alt,
    .fa-edit{
        font-size: 2rem;
    }
    input[type="checkbox"]{
        transform: scale(1.6);
    }
}

@media only screen and (max-width: 450px) {
    .eachItem {
        padding: 1rem 1.5rem 1rem 1.5rem;
        min-width: 300px;
    }

    .date{
        margin-top: 4px;
    }

    input[type="checkbox"]{
        flex-basis: 25%;
        transform: scale(1.5);
    }

    .textWrapper h3 {
        font-size: 2rem;
        margin-bottom: 3px;
    }

    .textWrapper p {
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 310px) {
    .eachItem {
        padding: 0.5rem 0.8rem 0.5rem 0.6rem;
        min-width: 250px;
    }
    .fa-trash-alt,
    .fa-edit{
        font-size: 1.6rem;
    }
    .fa-edit{
        margin-bottom: 3px;
    }
    input[type="checkbox"]{
        flex-basis: 30%;
        transform: scale(1.2);
    }
    .todo-btn {
        width: 4rem;
        flex-basis: 30%;
    }
    .fa-edit{
        margin-left: 1rem;
    }
    .textWrapper {
        flex-basis: 60%;
    }

    .textWrapper h3 {
        font-size: 1.5rem;
        margin-bottom: 2px;
    }

    .textWrapper p {
        font-size: 1rem;
    }

}

