.todolistWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 460px;
}
.todoHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton:hover .fa-plus {
    color: rgb(100, 214, 47);
}

.addButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    padding: 1.5rem 6rem;
    text-decoration: none;
    border-radius: 5px;
    background: -webkit-linear-gradient(90deg, #f9cc7b, #f7764a);
    background: linear-gradient(90deg, #f9cc7b, #f7764a);
}

.addButton:hover {
    background: -webkit-linear-gradient(90deg, #f7764a, #f9cc7b);
    background: linear-gradient(90deg, #f7764a, #f9cc7b)
}

.addButton p{
    color: white;
    font-size: 2rem;
}

.showItems {
    margin-top: 3rem;
    text-align: center;
    color: white;
    font-size: 2rem;
}

.fa-plus {
    cursor: pointer;
    pointer-events: auto;
    color: rgb(251, 251, 251);
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
}


.fa-plus {
    font-size: 2.5rem;
}

.fa-plus {
    color: white;
    margin-left: 1.5rem;
}

.endText{
    color: white;
    font-size: 24px;
}
@media only screen and (max-width: 550px) {
    .todolistWrapper {
        min-width: 360px;
    }
    .addButton {
        padding: 1rem 2.7rem;
    }
    .fa-plus {
        font-size: 2rem;
    }
    .addButton p{
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 450px) {
    .todolistWrapper {
        min-width: 300px;
    }

    .addButton {
        padding: 1rem 2.5rem;
    }

    .addButton p{
        font-size: 1.5rem;
    }

    .endText{
        font-size: 20px;
     }
}

@media only screen and (max-width: 310px) {
    .todolistWrapper {
        min-width: 260px;
    }
    .fa-plus {
        font-size: 1.6rem;
    }
    .addButton {
        padding: 1rem 2rem;
    }

    .addButton p{
        font-size: 1.5rem;
    }
}



