@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", italic;
}

html {
    font-size: 62.5%;
}

p {
    margin: 0;
    padding: 0;
}

.main_content {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: #e74c3c;
}
.fa {
    margin-left: -2.5rem;
    cursor: pointer;
    pointer-events: auto;
    z-index: 10;
    background-color: #fff;
    background-image: none;
    color: #666;
    -webkit-transition: color 0.15s linear;
    transition: color 0.15s linear;
    font-size: 2rem;
}

.fa:hover {
    color: rgb(47, 214, 122);
}



